.container{
    height: 230px;
    width: 100%;
    border: 2px solid greenyellow;
    /* Initiliaze the container as flex box */
    display: flex; /*all the element comes into one line after this Now u can use flex properties here*/

    /*Flex Properties for Flex container */

    /* Below instruction overwrite above instruction/property here */

    /*by default container align in row */
    flex-direction: row;  
    /*container align in column */
    /* flex-direction: column;      */
     /*Reverse the directions of boxes in row axis*/
    /* flex-direction: row-reverse; */
    /* Reverse the directions of boxes in row axis */ 
    /* flex-direction: column-reverse;  */

    
    /* 
       Help when we check responsive ness of page for differ-differ devices after this contaiiner manage spaces
       and jump into another lines
    */

    /* imp */
    /* flex-wrap: nowrap;   (Bydefault) */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse;  opp direction of wrapping */

    /* Shortend for wrap and direction */

    flex-flow: row wrap;

    /* To make container/item in center and remain in centre for every kind of devices */
    justify-content: center;
    /* Make equal spaces only between the containers not at end sides*/
    justify-content: space-between;
    /* start to end spaces is same between and end sides */
    justify-content: space-evenly;
    /* Same space comes on left and right side of a container don't confuse between space of container because it is sum of two spaces of two containersS*/
    justify-content: space-around;

    /*V.IMP:- Align item vertical at flex-start(default) ,flex-end,center */
    align-items: center;
    /* Make vertical evenly space only work with flex-wrap */
    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    
}

/* in class put all that things you want same in every container */
.item{
    background-color: aquamarine;
    border: 2px solid black;
    margin: 10px;
    padding: 2px;
    height: 100px;
    width: 100px;
}