/* Navigation */
.navbar{
    flex-direction: column;
}

.navbar ul li{
    font-size: 1rem;
    padding-bottom: 4px;
    margin: 0px -11px;
}

/* Home section*/
#home{
    height: 268px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
/* Services section*/
#services{
    flex-direction: column;
}
/* #services .box {
    /* width: 60%; 
} */

#services .box {
    padding: 27px;
    margin: 3px 5px; 
    margin-bottom: 20px;
}

/* client section */
#client{
    flex-wrap: wrap;
}

#client img{
    width: 72px;
    height: 67px;
}

/* contact us section*/

#contact-box form{
    width: 80%;
}

/* footer */

/* utility class */
.h-primary{
    font-size: 25px;
}