* {
    margin: 0%;
    padding: 0%;
}


.navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

/* navigation bar: logo and image styling*/

#logo {
    margin: -18px;
    padding: 19px;
}

#logo img {
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 35px;
}

/* navigation bar: li element styling */

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    font-size: 1.3rem;
}

.navbar li a{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
}