* {
    margin: 0%;
    padding: 0%;
}


.navbar {
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

/* navigation bar: logo and image styling*/

#logo {
    margin: -18px;
    padding: 19px;
}

#logo img {
    margin: 6px;
    padding: 9px;
    height: 37px;
    width: 50px;
    border-radius: 50px;
}

/* navigation bar: li element styling */

.navbar ul {
    display: flex;
   
    font-family: 'Baloo Bhai', cursive;
}

.navbar::before{
    background-color: black;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: -1;
    opacity: 0.4;
}

.navbar li {
    list-style: none;
    font-size: 1.3rem;
}

.navbar li a{
    color:  white;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
}

.navbar li a:hover{
    color:  black;
    background-color: white;
}


/* Home section */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    height:470px;
}

/* to add bg img */
#home::before{
    content: "";
    position: absolute;
    /* to add any folder image */
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}



#home h1{
    color: white;
    text-align:  center;
    font-family: 'Baloo Bhai', cursive;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
   
}

/* Services Section */

#services{
    margin: 30px;
    display: flex;
}


#services .box{
    border: 2px solid black;
    padding: 34px;
    margin: 2px 18px;
    border-radius: 25px;
    margin-top: 20px;  
    margin-bottom: 20px; 
    background-color: lightgray;
}

#services .box img{
    height: 160px;
    /* or width anything to make img centre */
    /* width: 10px; */
    margin: auto;
    display: block;
}



/* Client Section */
#client-section{
    height: 400px;

}

#client{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client img{
    height: 100px;
    width: 100px;
    margin: 29px 35px;
}

/* Utility class */

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
}

.btn{
    padding: 8px 14px;
    background: 2px solid black;
    /* background-color: brown; */
    color: black;
    margin: 10px ;
    opacity: 0.7;
    border-radius: 15px;
    cursor: pointer;
}

.centre{
    text-align: center;
}

.h-secondary{
    font-size: 2.0rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}


