* {
    margin: 0%;
    padding: 0%;
}


.navbar {
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

/* navigation bar: logo and image styling*/

#logo {
    margin: -18px;
    padding: 19px;
}

#logo img {
    margin: 6px;
    padding: 9px;
    height: 37px;
    width: 50px;
    border-radius: 50px;
}

/* navigation bar: li element styling */

.navbar ul {
    display: flex;
}

.navbar::before{
    background-color: black;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: -1;
    opacity: 0.4;
}

.navbar li {
    list-style: none;
    font-size: 1.3rem;
}

.navbar li a{
    color:  white;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
}

.navbar li a:hover{
    color:  black;
    background-color: white;
}


/* Home section */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

/* to add bg img */
#home::before{
    content: "";
    position: absolute;
    /* to add any folder image */
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}