.container{
    font-size: 10px;
    border: 2px solid red;

    /* You can inc height and width above 100 also */
     /* Take/acquired height equal to height of your display without any configuration (view height) imp mostly used */
    /* width: 500px; */
    width: 100vw;
    /* height: 250px; */
    /* Take/acquired height equal to height of your display without any configuration (view width)*/
    height: 100vh;
}

h1{
    text-align: center;
}

#first{
    /* em = 10 times from its just upper parent font sixe here parent is container */

    /* It main use
       When parent element is resize (which resize from device to device) then its child elment
       resize by default after this
    */
    /* font-size: 10em; */
    /* Padding = font-size(here 1000)* 3(padding size given) */
    /* padding: 3em; */
}


/* 
    rem:- manage size acc to html size as shown below
*/


html{
    font-size: 30px;
}

#Second{
    /* font-size: 3rem;
    padding: 3rem; */
}