.logo{
    /* border: 2px solid black; */
    /* margin: auto; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
    width: 11%;
    /* margin-left: 20%; */
}

.logo img{
    width: 50%;
    margin-left: 25%;
     /*change color of img from black to white */
    filter: invert(); 
}

.logoclass{
    font-size: 10px;
}

.logo div{
    text-align: center;
    font-size: 90%;
    /*height of text from logo*/
    line-height: 40px;  

}


.buttons{
    /* border: 2px solid black; */
    /* margin: auto; */
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 30px;
    /* padding: 20px; */
    
}

.btn{
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;

    margin: 2px 7px;
    color: white;
    background-color: black;
    padding: 5px 6px;
    font-size: 15px;
    font-family: 'Macondo', cursive;
}

.btn:hover{
    color: lightgray;
}


/* Manage navigation bar */

.nav{
    /* margin: 12px auto; */
    display: block;
    width: 33%;
    margin: 32px auto; /*nav div comes at centre*/
    /* border: 2px solid black; */
    
}

.navbar li{
    display: inline-block; /*Manage all the content in one line*/
    margin: 2px 10px; /*for manage gap between content*/
    font-size: 20px;
}

/* Manage content of a navigation bar */

.navbar li a{
    color: white;
    text-decoration: none; /*to remove below line of a link(a)*/
}

.navbar li a:hover{
    color: gray;
    text-decoration: underline;
}

/* From-group */
.container{
    border: 2px solid white;
    border-radius: 30px;
    width: 33%;
    margin:  118px 59px;;
    padding: 27px 20px;
}

.container h4{
    text-align: center;
}

.from-group input{
    border: 2px solid white;
    text-align: center;

    display: block;

    padding: 5px 5px;
    margin: 4px auto; /** by using display block and margin x auto me tend anything into the auto**/
    width: 55%;
    border-radius: 8px;
    font-size: 10px;
    font-family: 'Macondo', cursive;
}

#btn1{
    display: block;
    margin: 18px auto;
    width: 75px;
    padding: 6px 8px;
    text-align: center;

}

#AboutUs{
    /* border: 2px solid white; */
    margin: 525px 180px;
    padding: 35px 171px;
    width: 599px;
    text-align: center;
}

#AboutUs h4{
    font-size: 20px;
}