<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using Plain Html in Pug</title> -->    
    <title>#{title}</title>  
      <!-- ../ means comes one directory outside first include search for file in views then after ../ search in express --> 
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">About</a> </li>
            <li> <a href="#">Services</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
    </nav>

    <div class="src">
        
    </div>

    <div class="container">
        <h3>Get This Membership at 10% discount Now(Hurry-Fill Now)</h3>
        <!-- //- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus inventore perferendis reprehenderit expedita dicta consequatur, aliquam, nostrum eaque sint laborum illo nam sed facilis. Fugit alias laborum cupiditate deserunt?</p> -->
        <form action="/">Contact</form>
        <input type="text" name="name" id="name" placeholder="Enter your Name">
        <input type="text" name="name" id="age" placeholder="Enter your age">
        <input type="text" name="name" id="Gender" placeholder="Enter your Gender">
        <input type="text" name="name" id="con" placeholder="Enter your Email or Number">
        <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter Your Address"></textarea>
        <textarea name="more" id="more" cols="30" rows="10" placeholder="More About You..."></textarea>
        <button class="btn">Submit</button>
    </div>
    <!-- <p>
       | This is the plian html using pug
       | #{content}
    </p> -->
</body>
</html>